[data-promptrtl="rtl"] {
  direction: rtl !important;
  text-align: right !important;
  unicode-bidi: plaintext !important;
}

[data-promptrtl="ltr"] {
  direction: ltr !important;
  text-align: left !important;
  unicode-bidi: plaintext !important;
}
