[data-input-direction-helper="rtl"] {
  direction: rtl !important;
  text-align: right !important;
  unicode-bidi: plaintext !important;
}

[data-input-direction-helper="ltr"] {
  direction: ltr !important;
  text-align: left !important;
  unicode-bidi: plaintext !important;
}
